//light theme
$color-primary: #ffffff;
$color-accent: #0f1327;
$color-background: #f5f5f5;
$color-component-background: #fafafa;
$color-active: #f0f0f0;
$color-error: red;
$color-success: #09af00;

$color-border: #f0f0f0;
$color-input-border: #f0f0f0;

$color-primary-txt: #000;
$color-secondary-txt: #757575;
$color-light-txt: #bdbdbd;
$color-error-txt: red;

//for dark/accent background
//side navbar

$color_nav_txt: #f5f5f5;
$color_nav_ctg: #bdbdbd;
$color_nav_not_active: #bdbdbd;
$color_nav_active: #bdbdbd;

$color_nav_active_bg: #2f3349;

//patient flags colors
$color-high-risk: #fe0000;
$color-ed: #c0ca33;
$color-high-utilization: #fbc02d;
$color-hospice: #7030a0;
$color-mra: #ef9a9a;
$color-hedis-gap: #90caf9;
$color-risk-level: #1976d2;
$color-title: #0080ff;
